
.chatMsgFieldGlobal{
  display: flex;
  flex-direction: column;
}
.chatMsgField {
  max-height: 500px;
  overflow: auto;
  transition: 0.3s ease;
  padding: 5px;
}

.chatMsg {
  display: flex;
  flex-direction: column;
  gap: 7px;

}
.chatMsgList .myMessage{
  float: right;
}
.chatMsgList .otherMessage{
  float: left;
}
.myMessage,
.otherMessage {
  white-space: normal !important;
  font-size: 13px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  width: fit-content;
  min-height:3rem;
  height: fit-content;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: 0.3s ease;
  text-align: left;
}

.myMessage {
  color: white;
  background-color: #cf9eab;
}

.otherMessage {
  color: black;
  background-color: #ffffff;
}

.chatInput {
  display: flex;
  justify-content: stretch;
  border: 1.6px solid black;
  border-radius: 15px;
  width: 100%;
  padding: 7px;
}

.chatInput textarea {
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  width: 100% !important;
  font-size: 1rem;
  padding: 7px;
  border: none;
  background-color: transparent;
}

.chatInput textarea:focus {
  border: none;
  outline: none;
  width: 100%;
}

.chatSendBtn button {
  background-color: transparent;
  color: black;
  width: 30px;
  height: 100%;
  vertical-align: center;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: 3px;
}

@media (max-height: 600px) {
  .chatMsgField {
    max-height: 200px;
    overflow: auto;
  }
}