.chatMsgFieldGlobal {
  display: flex;
  flex-direction: column;
}

.chatInput {
  display: flex;
  justify-content: stretch;
  border: 1.6px solid black;
  border-radius: 15px;
  width: 100%;
  padding: 7px;
}

.chatInput textarea {
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  width: 100% !important;
  font-size: 1rem;
  padding: 7px;
  border: none;
  background-color: transparent;
}

.chatInput textarea:focus {
  border: none;
  outline: none;
  width: 100%;
}

.chatSendBtn button {
  background-color: transparent;
  color: black;
  width: 30px;
  height: 100%;
  vertical-align: center;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: 3px;
}

@media (max-height: 600px) {
  .chatMsgField {
    max-height: 200px;
    overflow: auto;
  }
}
