.roomListGlobal {
  padding: 10px;
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
}
.roomListHeader{
  display: flex;
  flex-direction: column;
}
.ListUserNickname{
  height: 3.2rem;
}
.ListContainer {
  display: flex;
  flex-direction: row;
}
