.videoDetailBack {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoDetailContainer {
  display: flex;
  width: 830px;
  height: 600px;
  border-radius: 10px;
  background-color: #22232f;
  padding: 20px;
  box-sizing: border-box;
}
.videoDetailLeft {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videoDetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.videoDetailHeader img {
  width: 50px;
}

.videoDetailProfile {
  display: flex;
  gap: 10px;
}

.modalCloseButton {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.videoDetailvideo {
  background-color: black;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoDetailFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.videoDetailBtn {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 1.5rem;
}

.videoDetailLike {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.videoDetailContent {
  width: 100%;
  display: flex;
  padding-left: 20px;
}

.videoDetailTitle {
  line-height: 50px;
}

.videoDetailTitle {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  border-bottom: 1px solid white;
}
.videoDetatilContent {
  padding: 5px;
}
.genreTag {
  display: inline-block;
  background: rgba(242, 242, 242, 0.66);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
}

.videoDetailInst,
.videoDetailGenre {
  display: flex;
  gap: 10px;
  align-items: center;
}
.videoDetailInst p,
.videoDetailGenre p{
 text-align: center;
}

.videoDetailContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videoDetailRight{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.videoDetailTagsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.videoDetailTagsContainer p{
    font-weight: bold;
    font-size: 1.2rem;
}

.videoDetailArtist,
.videoDetailMusic {
  display: flex;
  gap: 10px;
    padding: 10px;
  align-items: center;
}
.videoDetailMusicInfoContainer {
  margin-top: 10px;
  color: white;
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  align-items: center;
}


.videoDetailMusicInfo p{
    text-align: center;
    font-weight: bold;
}
