.searchPageUserContainer {
    overflow: auto;
    white-space: nowrap;
    padding: 20px 10px;
}

.searchPageUserResultContainer {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.searchPageUserResult {
    flex: none;
    display: inline-block;
    margin: 20px 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.searchPageUserResult span {
    display: flex; /* flex 컨테이너 설정 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 10px; /* 아이템 간 간격 설정 */
}

.searchPageUserResult a{
    text-decoration: none;
}

.searchPageUserResult img {
    width: 35px;
    border-radius: 50%;
}
.searchPageUserResultItem {
    display: flex;
}

.searchPageUserResultItem a {
    display: flex;
    align-items: center; /* 이미지와 텍스트를 세로 중앙 정렬 */
    gap: 10px; /* 이미지와 텍스트 사이의 간격 */
    text-decoration: none;
    color: black;
}
.searchUserImg{
    width: 30px;
    border-radius: 50%;

}