.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    text-align: center;
}

.back {
    background-color: #ffffff;
    /*    set border */
    border: 3px solid #000000;
    /*border 두께 설정*/
    padding: 40px;
    border-radius: 6px;
}


.background {
    width: 900px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}