.DialogBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.DialogHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.DialogContent {
  color: white;
  padding: 10px;
  width: 30rem;
  height: 30rem;
  background: rgb(29, 53, 73);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
