.NavBarContainer {
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    background-color: #f1f1f1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.NavBarContainer a,
.NavBarContainer p {
    border-radius: 5px;
    text-decoration: none;
    /*color: whitesmoke;*/
    color: rgba(0, 0, 0, 0.66);
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 15px 15px;
    transition: all 0.2s ease;
    margin-bottom: 13px;
}

.NavBarContainer a:not(.ScenergyTab a):not(.NavBarDropMenu a):not(:nth-child(3)):hover,
.NavBarContainer p:hover {
    transform: scale(1.15);
    color: #000000;
    font-weight: bolder;
}

.NavBarDropMenu {
    display: none; /* 초기에는 숨김 */
    margin-left: 20px;
    margin-bottom: 30px;
}

.NavBarDropdownGlobal:hover .NavBarDropMenu,
.NavBarDropdownGlobal.dropdownOpen .NavBarDropMenu {
    display: block; /* 마우스를 올렸을 때나 dropdownOpen 클래스가 추가된 경우에 표시 */
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.1s ease;
}

.NavBarDropMenu a {
    height: 30px;
    color: #1F2937; /* 드롭다운 메뉴의 텍스트 색상 */
    font-weight: unset;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.NavBarDropMenu a:hover {
    background-color: #CBD5E1; /* 드롭다운 메뉴 호버 시 연한 회색으로 변경 */
    color: #1F2937; /* 드롭다운 메뉴 호버 시 텍스트 색상 변경 */
}

.logout {
    border: none;
    margin-top: auto;
    margin-left: auto;
}

li {
    list-style-type: none; /* 모든 항목에 대해 점 없이 나열 */
}

