/* ProfileHeader.module.css */
.profileHeader {
    display: flex;
    margin: 100px auto 80px auto;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #262626;
    background-color: rgba(245, 245, 245, 0.71);
}

.profileHeaders {
    width: 100%;
    background-image: url("../../assets/profileBackground.jpeg");
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절합니다. */
    background-position: center; /* 이미지를 가운데 정렬합니다. */
    border-radius: 20px;
}

.profileHeader img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* 이미지 비율 유지 */
}

.profileHeader .uploadContainer {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profileHeader .uploadContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px dashed #ccc;
}

.profileHeader .uploadContainer input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.profileHeader .actionButtons {
    display: flex;
}

.actionButtons button{
    background: none;
    color: #22232f;
    margin-right: 10px;
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
}

.actionButtons button:hover {
    background-color: #000000;
    color: #ffffff;
}

.profileInfo {
    width: 80%;
    display: flex;
    margin-right: 10px;
}

.profileImgUpload {
    margin-right: 30px;
    margin-left: 40px;
}

/*프로필 영상 팔로워 팔로수*/
.profileInfoCount {
    color: #818181;
    margin-top: 2%;
    margin-bottom: 5%;
}

.profileInfoCount span {
    margin-right: 20px;
}

.profileNickname {
    width: 400px;
    font-size: 14px;
    color: #444444;
}

.profileNickname h1 {
    font-size: 30px;
    margin-top: 7pt;
    margin-bottom: 10pt;
    color: black;
}