.division-line {
    border: 1px solid #d0d0d0;
    margin: 30px 0px;
}

.editButton button {
    background-color: #22232f;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bolder;
}

.editButton button:hover {
    background-color: #f1f1f1;
    color: #111111;
}

.infoTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}


.FieldWriteBtn {
    height: 30px;
    font-weight: bold;
    display: flex;
    gap: 3px;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.customDatePicker {
    border: none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

.react-datepicker {
    font-size: 16px;
}

.react-datepicker__header {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
    background-color: #457b9d;
    color: white;
}

.react-datepicker__day--disabled {
    color: #ccc;
}

.plusButton {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}

.plusMinus {
    width: 20px;
    height: 20px;
}

.portfolioH h2 {
    margin-left: 3%;
    margin-bottom: 40px;
    margin-top: 120px;
    border-bottom: #000000 solid 3px;
}

.portfolioH th, td {
    padding: 8px; /* 셀 내용의 상하좌우 패딩을 추가합니다. */
    text-align: center; /* 셀 내용을 가운데 정렬합니다. */
    border: 1px solid #ddd; /* 셀의 테두리를 지정합니다. */
}

.portfolioH table {
    width: 100%;
    table-layout: fixed; /* 테이블의 너비를 고정합니다. */
    border-collapse: collapse; /* 셀 사이의 경계를 합칩니다. */
}
