/* ProfileHeader.module.css */
.profileHeader {
    display: flex;
    /*flex-direction: row;*/
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    /*justify-content: space-between;*/
}

.profileHeader img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profileHeader .uploadContainer {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

}

.profileHeader .uploadContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px dashed #ccc;
}

.profileHeader .uploadContainer input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; /* Add cursor pointer for better UX */
}

.profileHeader .actionButtons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.profileInfo {
    display: flex;
    margin-right: 200px;
}

.profileImgUpload {
    margin-right: 80px;
}

.profileInfoCount {
    margin-bottom: 50px;
    padding-top: 50px;
}

.profileNickname {
    padding-top: 45px;
}

.profileNickname h2 {
    margin-bottom: 20px;
}