.loginup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*background-color: rgb(129, 134, 175, 0.3);*/
    background-color: rgba(207, 158, 171, 0.3);
    border-radius: 20px;
    border: #cf9eab;

  }

/*.loginup-container button {*/
/*    background-color: #22232f;*/
/*    color: white;*/
/*    padding: 7px;*/
/*    border-radius: 5px;*/
/*    !*border: none;*!*/
/*}*/

/*.loginup-container button:hover {*/
/*    background-color: white;*/
/*    color: #22232f;*/
/*}*/

.login-title {
    margin-bottom: 30px;
    margin-top: 20px;
    color: #22232f;
}

.login-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-btn {
    margin-left: 10px;
}

  .loginup-container form {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .loginup-container label {
    display: block;
  }

  .loginup-container input,
  .loginup-container select,
  .loginup-container button {
    padding: 7px 12px 7px 12px;
      border: none;
      background-color: white;
      border-radius: 2px;
      cursor: pointer;
    /*box-sizing: border-box;*/
  }

  .login-input input{
      width: 200px;
      height:35px;
  }

  /* 추가된 스타일 */
  .loginup-container p {
    font-size: 12px; /* 빨간 글씨 크기 조정 */
    color: rgb(235, 64, 64); /* 빨간 글씨 색상 지정 */
  }
