
.FieldItemsGlobal {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.FieldList {
  width: 80vw;
  display: flex;
  justify-content: center;
}
