.FieldInputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.FieldInput{
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 7px;
  padding: 2px;
}
.FieldInput input {
  padding: 7px;
  text-align: center;
  font-size: 1rem;
  width: 55vi;
  border: none;
  transition: all 0.3s ease-in-out;
  /*  background-color: #FF2079;*/
  /*color: white;*/
}
.FieldInput input::placeholder {
  color: #cccccc;
  font-weight: 500;
}
.FieldInput input:focus{
  outline: none;
}
.FieldInput {
  font-size: 20px;
}
.searchIcon{
  width: 30px;
  cursor: pointer;
}
.FieldCategoryGlobal {
  display: flex;
  justify-content: center;
  text-align: center;
}
.arrowImg img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.FieldCategory {
  position: relative;
  font-weight: bold;
  color: white;
  padding: 7px;
  margin: 5px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.65);
  width: calc(55vi + 35px);
  display: flex;
  justify-content: center;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: none;
}

.FieldCategory.expanded{
  height: 50vb;
}

.FieldCategory:focus {
  border: none;
}
.Container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Categoryitem {
  flex: 1;
  text-align: center;
  margin-bottom: 10px;
}

hr.hritem {
  border: 0;
  background-color: #fff;
  border-top: 1px dashed #8c8c8c;
  display: none;
  margin-top: 10px;
}

.CategoryContainer {
  display: flex;
  align-items: center;
}

.categoryName{
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}
.CategoryDropdownContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.1rem;
}
.CategoryDropdown{
  padding: 5px;
  display: flex;
  flex-direction: column;
 justify-content: space-around;
  height: 100%;
}

.CategoryDropdownItem, .CategoryDropdownLocationItem{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*justify-content: flex-start;*/
}

.CategoryDropdownLocationItem{
  justify-content: flex-start;
}

.CategoryPick{
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  width: 65px;
}