.ItemGlobalContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;
}
.ItemGlobal {
  margin-top: 20px;
  color: black;
  background-color: white;
  border-radius: 7px;
  display: flex;
  height: 200px;
  flex-direction: column;
  width: 30vi;
}
@media (max-width: 800px) {
  .ItemGlobal {
    width: 40vi;
  }
  .ItemGlobalContainer{
    justify-content: center;
  }
}
.ItemHeader {
  margin: 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ItemState {
  border-radius: 5px;
  padding: 5px;
  width: 55px;
  text-align: center;
  background-color: rgba(16, 16, 79, 0.95);
  color: white;
  font-weight: 600;
}
.ItemName {
  font-weight: 600;
}
.ItemBody {
  margin-left: 10px;
  height: 125px;
  padding: 5px;
}
.ItemTitle {
  font-size: 20px;
  margin-bottom: 10px;
}
.hrline {
  border: 1px solid black;
}

.scenergyExp, .scenergyApply{
  margin-left: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.scenergyBookmark{
  margin-left: auto;
  margin-right: 5px;
}
.ItemFooter {
  padding: 5px;
  margin-left: 3px;
  font-size: 1rem;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
