/* FollowVideo.module.css */

.profileLink {
    cursor: pointer;
}

.followVideoContainer {
    width: 100%;
    height: 100vh; /* 뷰포트 높이와 동일 */
    overflow-y: scroll; /* 수직 스크롤 활성화 */
    scroll-snap-type: y mandatory; /* 수직 방향으로 스크롤 스냅 적용 */
    justify-content: center;
    align-items: center;
}

.videoContain {
    height: 100vh; /* 각 게시물이 뷰포트 높이와 동일하게 설정 */
    scroll-snap-align: start; /* 스크롤 스냅 포인트를 요소의 시작 부분으로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: #22232f;*/
    color: white; /* 텍스트 색상 변경 */
}

.videoContent img {
    position: absolute;
    top: 0; /* 이미지를 컨테이너의 상단에 위치시킴 */
    margin-left: 20px;
    margin-top: 20px;

    /*transform: translateX(-50%); !* 이미지를 수평으로 가운데 정렬 *!*/
}

.videoContent p {
    position: absolute;
    top: 0; /* 이미지를 컨테이너의 상단에 위치시킴 */
    margin-left: 85px;
    margin-top: 33px;
}

.videoContent {
    display: flex;
    height: 600px;
    width: 70%;
    align-items: center;
    background-color: black;
    position: relative; /* 자식 요소에게 상대적인 위치를 부여하기 위해 필요 */
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

.videoContent video {
    cursor:pointer;
    width: 100%; /* Set the width to 100% to take the full width of the container */
}

.videoDiv {
    display: flex;
    width: 990px;
    height: 600px;
    background-color: #ffffff;
    color: #4e4e4e;
    /*background-color: rgba(155, 54, 124, 0.5);*/
    border-radius: 10px;
    align-items: center; /* 추가: 세로 중앙 정렬 */
    justify-content: center; /* 추가: 가로 중앙 정렬 */
    box-shadow: 1px 1px 7px 4px rgba(66, 66, 66, 0.2);
}

.videoInfo {
    /*display: flex;*/
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column; /* 추가: 세로 방향으로 배치 */
    align-items: center; /* 추가: 가로 중앙 정렬 */

}

.videoInfo h2 {
    margin-top: 7%; /* h2의 상단 margin 제거 */
    padding-left:3%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videoInfo .content {
    padding-left: 3%;
}

.videoInfo hr {
    display: flex;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    /*width: 300px;*/
    width: 100%;
    /*margin-left: 20px;*/
}

.titleContent {
    height: 63%;
    width: 100%;

}

.musicTieleArtist{
    height: 37%;
    width: 100%;
}

.musicTitle {
    display: flex;
    padding-left: 3%;
    margin-bottom: 20px;
}

.musicTitle p {
    margin-left: 10px;
}

.artist {
    display: flex;
    padding-left: 3%;
}

.artist p {
    margin-left: 10px;
}
