.ProfilePage-global {
    display: flex;
    /*justify-content: center; !* 가로 중앙 정렬 추가 *!*/
}

.ProfilePageContent {
    display: flex;
    flex-direction: column; /* 컨텐츠를 세로로 정렬하기 위해 추가 */
    /*align-items: center; !* 세로 중앙 정렬 추가 *!*/
    margin: 0 auto; /* 좌우 마진을 auto로 주어 가로 가운데 정렬 */
}


/* 네브바 때문에 임시로 한 코드. 네브바 고정하면 바뀔 곳 */

/*.profile-page {*/
/*    display: flex;*/
/*    width: 100vw;*/
/*}*/

/*.portfolio-link {*/
/*    margin-left: 500px;*/
/*}*/