.ScenergyGlobal{
    display: flex;
    width: 100%;
}
.ScenergyModalHeader{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}
.ScenergyModalHeader p:first-child{
    font-weight: bold;
}
.ScenergyContainer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Category{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.Category p:first-child{
    font-weight: bold;
    padding: 2px;
    text-align: center;
}
.Category p:nth-child(2){
    border-radius: 10px;
    padding: 2px;
    color: black;
    font-weight: bold;
    width: 60px;
    height: 25px;
    text-align: center;
}
.ScenergyContentContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.ScenergyContentHeader{
    font-weight: bold;
}
.ScenergyContent{
    height: 180px;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.82);
    padding: 10px;
    color: black;
}
.ScenergyApply{
    text-align: center;
}
.ScenergyApply button {
    background: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    width: 80px;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.ScenergyNav {
    width: 17%;
}