* {
  transition: all 0.3s ease-in-out;
}


.searchPageGlobal {
  display: flex;
  height: 100vh;
}

.searchPageNav {
  height: 100%;
  width: 17.1%;
}

.searchPageBodyContainer {
  margin-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82.9%;
}

.searchPageResult {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 5vi;
}
.searchPageVideoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.searchPageDefault{
  display: flex;
  flex-direction: column;
  gap: 2vi;
}