.VideoUpload-global {
    height: 100vh;
    display: flex;
}

.VideoUpload-global-Navbar {
    width: 17%;
}

.VideoUpload-global-VideoUpload {
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
}